/* General Styling */

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Orbitron", sans-serif;
  background-image: url(/assets/img/spazio2.png);
  background-size: cover;

}

html {
  scroll-behavior: smooth;
}

nav {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo {
  font-size: 2rem;
  color: #DC6A0E;;
}

.logo:hover {
  cursor: default;
}


.nav-links {
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: right;

}

.nav-links a {
  padding: 25px 25px 25px 25px;
  flex-wrap: wrap;
}

a {
  color: white;
  text-decoration: none;
  text-decoration-color: white;

}

a:hover {
  color: #DC6A0E;
  text-decoration: underline;
  text-decoration-color: grey;
}


#desktop-nav {
  position: sticky;
  top: 0;
  background-color: #001C2D;
  z-index: 2;
  height: 70px;
  width: 100%;

}

#desktop-nav a {
  align-items: center;
  justify-content: center;
}


.nav-links {
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.nav-links a {
  padding: 25px;
  text-decoration: none;
  flex-grow: 1;
  flex-basis: 0;
}


a:hover {
  color: #DC6A0E;
  text-decoration: underline;
  text-decoration-color: grey;
}

.hamburger {
  position: relative;
  width: 30px;
  height: 4px;
  background-color: #AB4F23;
  cursor: pointer;
  transform: 0.3s;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background-color: #AB4F23;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburger::before {
  top: -10px;
  width: 20px;
}

.hamburger::after {
  top: 10px;
  width: 25px;
}

.toggle-menu {
  position: absolute;
  width: 25px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.hamburger,
.toggle-menu {
  display: none;
}

#dekstop-nav input:checked~.hamburger {
  background: transparent;
}

#desktop-nav input:checked~.nav-links {
  right: 0px;
}


/* Title Section */

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  color: gray;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: white;
}

/* Details Section */

#Portfolio-title {
  position: relative;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.section__text {
  align-self: right;
  text-align: center;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
}

.about-containers,
.about-details-container {
  display: flex;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: transparent;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  margin: 70px 70px 70px 70px;

}

.details-container img {
  width: 40%;
  border-radius: 10%;
  border: 1 px;
  border-style: solid;
  border-color: #AB4F23;
  align-items: center;
  justify-content: center;
}

.section-container {
  gap: 2rem;
  height: 80%;
}

.details-container h3 {
  color: #AB4F23;
}

#Portfolio-text {
  color: gray;
}